{% extends 'home.html'%}
{% block title %}Contactenos{% endblock %}

{% block content %}

<div class="mt-10">
    <h4 class="text-xl text-center font-medium">Matriculas</h4>
<table class="text-xs text-center w-[100%]">
    <tr class="border-2 border-gray-800">
        <th class="text-[10px] border-r-2 border-gray-600">Estudiante</th>
        <th class="text-[10px] border-r-2 border-gray-600">Código</th>
        <th class="text-[10px] border-r-2 border-gray-600">Fecha</th>
    </tr>
    {% for matricula in matriculaDB %}
    <tr class="border-2 border-gray-600">
        <td class="border-2 border-gray-600">{{matricula.estudiante}}</td>
        <td class="border-2 border-gray-600">{{matricula.curso}}</td>
        <td class="border-2 border-gray-600">{{matricula.fechaMatricula}}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}